swagger: '2.0'

# Document metadata
info:
  version: '0.3.0'
  title: Music API

# URL data
host: api.muzicplayz.com
basePath: /v3
schemes: 
  - https
  
# Endpoints
paths:
  # Playlists
  /playlist:
    # Get one or more playlists
    get:
      # Query parameters
      parameters: 
        # Number of playlists to return
        - name: limit
          in: query
          required: false
          type: integer
        
        # Index of the first playlist to return
        - name: offset
          in: query
          required: false
          type: integer
        
        # Return playlists whose name contains this string
        - name: search
          in: query
          required: false
          type: string
      
      # Query response
      responses:
        # Response code
        200:
          description: Successful response
    # Create a new playlist
    post:
      # Query parameters
      parameters:
        - name: newPlaylist
          in: body
          required: true
          schema: 
            $ref: '#/definitions/newPlaylist'
      
      # Query response
      responses:
        # Response code
        200:
          description: Successful response
    
    
  # Playlists          
  /playlist/{playlist-id}: 
    # Remove a playlist
    delete:
      # Query parameters
      parameters: 
        - name: playlist-id
          in: path
          required: true
          type: string
      responses:
        # Response code
        200:
          description: Successful response

    # Return a playlist
    get:
      # Query parameters
      parameters: 
        - name: playlist-id
          in: path
          required: true
          type: string
      responses:
        # Response code
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/playlistWithSongs'
          
definitions:
  # Playlist without song info
  newPlaylist:
    properties:
      name:
        type: string
      songIds:
        type: array
        items:
          type: integer
    required:
        - name
  
  # Playlist with song info     
  playlistWithSongs:
    properties:
      id:
        type: integer
      name:
        type: string
      songs:
        type: array
        items:
          $ref: '#/definitions/song'
  
  # Song info
  song:
    properties:
      id: 
        type: integer
      title: 
        type: string
